.btn {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary { background: #007bff; color: white; border: none; }
.btn-primary:hover { background: #0056b3; }


.btn-danger { background: #ff4d4d; color: white; border: none; }
.btn-danger:hover { background: #cc0000; }

.btn-success { background: #28a745; color: white; border: none; }
.btn-success:hover { background: #1e7e34; }

.btn-warning { background: #ffc107; color: black; border: none; }
.btn-warning:hover { background: #e0a800; }

.btn-info { background: #17a2b8; color: white; border: none; }
.btn-info:hover { background: #117a8b; }  

.btn-light { background: #f8f9fa; color: black; border: none; }
.btn-light:hover { background: #dae0e5; }








.btn-outline { background: transparent; color: #007bff; border: 2px solid #007bff; }
.btn-outline:hover { background: #007bff; color: white; }

.btn-ghost { background: transparent; color: #007bff; border: none; }
.btn-ghost:hover { background: #e7f1ff; }
